[Unit]
Description=Mount GlusterFS Volumes At Last
After=network.target glusterd.service
Requires=glusterd.service

[Service]
Type=oneshot
ExecStart=/bin/bash  -c "/etc/glusterfs/mount-volumes.sh < /etc/glusterfs/gfstab"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
